* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;;
}
body {
    background-color: rgb(1, 6, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#wrapper {
    background-color: rgb(78, 30, 120);
    width: 400px;
    border-radius: 45px;
    padding: 2rem;
   

}
.icon {
    margin: 0.7rem;
    background-color:rgb(99, 39, 152);
    border: 10px solid rgb(99, 39, 152);
    border-radius: 17px;
}

.text {
    padding: 1rem;
    color: white;   
    margin-top: 1.5rem;
}
.text h1 {
    display: inline-flex;
    width: 100%;

}
.text h3 {
    width: 100%;
    display: block;
    font-weight: 300;
    color: rgb(210, 210, 210);
    font-size: 1.05rem;
    line-height: 1.5rem;
}
.buttons {
padding: 1.3rem;
display: flex;
justify-content: center;
align-items: center;
}
.buttons .btn {
    width: 4rem;
    height: 3rem;
    margin-left: 0.3rem;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(95, 52, 141);
    color: white;
    border: 0px;
    border-radius: 2rem;
}
.buttons .btn:hover {

    background-color: hsl(25, 97%, 53%);
}
.submitbutton {
margin-top: 1rem;
display: flex;
justify-content: center;
}
.submitbutton button {
    width: 70%;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 30px;
    border: 0px;
    color: white;
    background-color: hsl(25, 97%, 53%);
}
.submitbutton button:hover {
background-color:hsl(25, 88%, 45%);

}